services:
  go2:
    image: unitree-go2:latest

    volumes:
      - ./src:/app/src
      # Mount specific subdirectories to preserve build artifacts in the container
      - ./unitree_ros2/cyclonedds_ws/src/unitree:/app/unitree_ros2/cyclonedds_ws/src/unitree
      - ./unitree_ros2/cyclonedds_ws/src/cyclonedds.xml:/app/unitree_ros2/cyclonedds_ws/src/cyclonedds.xml
      - ./unitree_ros2/example:/app/unitree_ros2/example
      - ${HOME}/InternNav/scripts/realworld:/app/realworld
      - /tmp/.X11-unix:/tmp/.X11-unix:rw

    privileged: true
    network_mode: "host"
    ipc: "host"
    stdin_open: true
    tty: true
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - GO2_NETWORK_INTERFACE=enp118s0
      - DISPLAY=${DISPLAY:-:0}
      - QT_X11_NO_MITSHM=1
      - CYCLONEDDS_URI=file:///app/unitree_ros2/cyclonedds_ws/src/cyclonedds.xml
      # - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
